.barUp{
  position: absolute;
width: 100%;
height: 70px;
left: 0px;
top: 0px;
z-index:1;
  
background: #F87B79;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  
}
#key{
  
  background: #F87B79;
  border:0px;
  color:white;
  height: 35px;
  width:50px;
  
}

.buttons{
  position: absolute;
  
  display:flex;
  align-items:center;
  flex-wrap:wrap;
  margin-left:60%;
  
}

.codeAction{
 
width: 200px;
height: 50px;
  top:0;
border:0;
background: #F25F5C;
border-radius: 30px 0px 0px 30px;
  color:white;
}
.decodeAction{
  
width: 200px;
height: 50px;

top: 0px;
border:0;
background: #D25250;
border-radius: 0px 30px 30px 0px;
  color:white;
}

.codeArea{
  position: absolute;
width: 100%;
height: 50%;
left: 0px;
top: 70px;

background: #F25F5C;
}

.decodeArea{
  position: absolute;
width: 100%;
height: 50%;
left: 0px;
top: 50%;

background: #D25250;
display: flex;
justify-content: center;
align-items: center;
}
.barDown{
  position: absolute;
width: 100%;
height: 100px;
left: 0px;
top: 94%;
z-index:1;
  
background:#D93E3C;
display: flex;
align-items: center;
justify-content: center;
flex-wrap: wrap;
}
.btn{
  background:#D93E3C;
  color: white;
  font-size: 40px;
  border: 0px;
}

:root {
  --color-green: #00a878;
  --color-red: #fe5e41;
  --color-button: #fdffff;
  --color-black: #000;
}
.switch-button {
  display: inline-block;

}
.switch-button .switch-button__checkbox {
  display: none;
}
.switch-button .switch-button__label {
  background-color: var(--color-red);
  width: 5rem;
  height: 3rem;
  border-radius: 3rem;
  display: inline-block;
  position: relative;
}
.switch-button .switch-button__label:before {
  transition: .2s;
  display: block;
  position: absolute;
  width: 3rem;
  height: 3rem;
  background-color: var(--color-button);
  content: '';
  border-radius: 50%;
  box-shadow: inset 0px 0px 0px 1px var(--color-black);
}
.switch-button .switch-button__checkbox:checked + .switch-button__label {
  background-color: var(--color-green);
}
.switch-button .switch-button__checkbox:checked + .switch-button__label:before {
  transform: translateX(2rem);
}