body{
    margin: 0;
    font-family: 'Heebo', sans-serif;
}
.encabezado{
    background-color: #3F2F2F;
    padding: 3px 600px;
    position: relative;
    height: 100px;
}

.safefont{
    font-family: 'Dancing Script', cursive;
    color: #F2DDDD;
    font-size:50px;

}
.hide{
    display: none;
}
.menu{
    background-color: #97E9C6;
    height: 10px;
    font-size: .9em;
}

/*.menu ul{
    list-style: none ;

}

img{
    width: 30px;
    height: 30px;

}*/

.cesar{
    width: 400px;
    height: 400px;
    margin: 80px 480px;
}

li, img{
    float: left;
    margin: 0px 5px;
}

h1,span{
    font-family: 'Dancing Script', cursive;
    color: #000000;
    text-align: center;

}

span{
    font-size: 25px;
}

h2{
    margin-left: 70px;
}

.infoquien{
    text-align: justify;
    margin: 30px 120px;
}

p{
    text-align: center;
    margin-top: 30px;
}

a{
    text-decoration: none;
    color: #000000;
}

.infoCesar{
    text-decoration: underline;
    color: #63B2B4;
}

.caja{
    border-radius: 5px;
    border-color: #97E9C6;
    margin: 30px 580px;
    border-width: 3px;
}
.start{
    margin: 30px 620px;
    text-decoration: none;
    background-color: #97E9C6;
    border-radius: 20px;
    border-color:#97E9C6;
    border-style: solid;
    padding: 10px;
    width: 100px;
}
.start:hover{
    background-color: #63B2B4 ;
}

.flex-center{
    display: flex;
    justify-content: center;
}
.btn-inicio{
    display: flex;
    justify-content: center;
}
.boton{
    margin: 5px;
    text-decoration: none;
    background-color: #97E9C6;
    border-radius: 20px;
    border-color:#97E9C6;
    border-style: solid;
    width: 100px;
}

.boton:hover{
    background-color: #63B2B4 ;
}

.boton0{
   
    text-decoration: none;
    background-color: #97E9C6;
    border-radius: 20px;
    border-color:#97E9C6;
    border-style: solid;
    padding: 10px;
    width: 100px;

}

.boton0:hover{
    background-color: #63B2B4 ;
}

.boton1{
    margin: 10px;
    text-align: center;
    background-color: #97E9C6;
    border-radius: 20px;
    border-color:#97E9C6;
    border-style: solid;
    height: 40px;
    width: 100px;
  
}

.boton1:hover{
    background-color: #63B2B4 ;
}

.boton2{
   
    margin: 10px;
    text-align: center;
    background-color: #97E9C6;
    border-radius: 20px;
    border-color:#97E9C6;
    border-style: solid;
    height: 40px;
    width: 100px;
    
}

.boton2:hover{
    background-color: #63B2B4 ;
}
.btn-choose{
    display: flex;
    justify-content: center;
}
#paso3{
    border-radius: 20px;
    border-color:#97E9C6;
    background-color:#EEEED6  ;
    border-style: solid;
    margin: 70px 400px;
    padding: 10px;
}

.boton:hover{
    background-color: #63B2B4;
}

#resultadocif{
    text-align: center;
}

/*.pie{
    background-color: #3F2F2F;
    padding: 40px;
    margin-top: 50px;
    
}
.pie ul li{
    color: #F2DDDD;
    text-align: center;
    list-style: none;
    margin: 0px 4px;
}*/
