body{
    background-color: rgb(0,0,0);
}
#presentacion{
  width: 1350px;
  height: 200px;
  border-radius: 55px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
#root {
  color: rgb(255,255,255);
  text-align: center;
  font-family: Arial, Helvetica, sans-serif
  font-size: 55px;
}
p{
  color: rgb(255,255,255);
  text-align: center;
  font-family: Arial, Helvetica, sans-serif
  }
#text{
  position: relative;
  top:80px;
  bottom:0;
  right:0;
  left: 200px;
  width: 350px;
  height: 23px;
  background-color: #EAEDED ;
  text-align: center;
  }
  #offsetnum{
    position: relative;
    top:80px;
    bottom:0;
    right:0;
    left: 400px;
    width: 350px;
    height: 23px;
    background-color: #EAEDED ;
    text-align: center;
  }
  #button1{
    position: relative;
    top:150px;
    bottom:0;
    right:0;
    left: 470px;
 background-color: #0033FF ;
 border: none;
 color: white;
 padding: 1rem;
 margin: 1rem;
 text-align: justify;
 font-size: 16px;
  }
#button2{
  position: relative;
  top:150px;
  bottom:0;
  right:0;
  left: 635px;
background-color: #0033FF ;
border: none;
color: white;
padding: 1rem;
margin: 1rem;
text-align: justify;
font-size: 16px;
}
#candadoabierto{
width: 1350px;
height: 250px;
border-radius: 70px;
display: block;
margin-left: auto;
margin-right: auto;
}
p1{
  text-align: center;
  color: rgb(255,255,255);
  font-size: 35px;
 }
#resultado1{
  text-align:center;
  color: rgb(255,255,255);
  font-size: 35px;

}
#volver1 {
  position:relative;
  top:150px;
  bottom:0;
  right:0;
  left: 650px;
background-color: #EAEDED;
border: none;
color: black;
padding: .5rem;
margin: .5rem;
text-align: justify;
font-size: 16px;

}
  #candadocerrado{
  width: 1200px;
  height: 200px;
  border-radius: 55px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  }
  p2{
    text-align: center;
    color: rgb(255,255,255);
    font-size: 35px;
  }
  #resultado2{
    text-align: center;
    color: rgb(255,255,255);
    font-size: 35px;
  }
  #volver2 {
    position: relative;
    top:150px;
    bottom:0;
    right:0;
    left: 650px;
  background-color: #EAEDED;
  border: none;
  color: black;
  padding: .5rem;
  margin: .5rem;
  text-align: justify;
  font-size: 16px;
}

#screen1 {
  display: block;
}
#screen2 {
display: none;
}

#screen3{
  display: none;
}
