body{
  background-color: #66CCFF;
}

body.section2{
  background-image: url("./images/porta2.jpg");
}

header{
  opacity: .5;
  background-color: #0B0B3B;
  width: 1200px;
  height: 20px;
  margin: 0px;
  padding: 40px;
  top: 0px;
  align: right;
  position:static;
}

article{
  position:static;
  text-align:center;
}

aside{
  position:static;
  text-align:right;
}

footer{
  opacity: .3;
  background-color: #CEE3F6;
  width: 1200px;
  height: 11px;
  margin: 0px;
  padding: 30px;
  bottom: 0px;
  position: fixed;
  text-align: center;
}

h1{
  font-size:45px;
  text-align: center;
}

p{
  font-size:30px;
  text-align: center;
}

a{
color:#000033;
}
a:hover{
color:#00CCFF;
}

input{
  width: 400px;
  box-sizing: border-box;
  border: 1px solid #0B0B3B;
}
