* {
    font-family: "Montserrat";
}

body {
    margin-top: 0px;
    margin-left: 0px;
    margin-right: 0px;
}

.contenedor {
    background-image: url(img/portada2.jpg);
}

.header {
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 80px;
    /* position: fixed;
    min-height: 80px;
    left: -1px;
    top: 0px; */
    background-color: transparent;
    /* background: linear-gradient(90deg, rgba(19, 34, 64, 0.95) 0%, rgba(0, 0, 0, 0.3) 100%), url(img/portada.jpg); */
    /* mix-blend-mode: normal; */
    color: #ffffff;
}

.contenedor-logo {
    vertical-align: middle;
    width: 50%;
}

.menu {
    width: 50%;
    display: flex;
    align-items: center;
}

.menu>a {
    color: white;
    text-decoration: none;
    margin-right: 40px;
    font-size: 18px;
}

.logo {
    padding: 10px;
    width: 50px;
    height: 50px;
}

.lema {
    display: inline-block;
    vertical-align: bottom;
}


/*********************************************/

.acercaDe {
    text-align: center;
    color: white;
    background-color: transparent;
    height: 520px;
    width: 100%;
    font-size: 18px;
    display: flex;
    flex-direction: column;
    /* align-items: center; */
}

.acercaDe>p {
    margin-top: 0px;
    text-align: center;
    padding: 5%;
}

.caracteristicas {
    display: flex;
    justify-content: space-around;
}

.caracteristicas>img {
    height: 50px;
    width: 50px;
}

.caracteristicas label img {
    height: 50px;
    width: 50px;
}