        /* <a href="https://www.freepik.com/free-photos-vectors/background">Background vector created by freepik - www.freepik.com</a>
<a href="https://www.freepik.com/free-photos-vectors/background">Background vector created by freepik - www.freepik.com</a> */
    
    body {
        /* background: linear-gradient(to bottom right, #c91292 0%, #666699 100%);
    height: 600px; */
        background-image: url("fondo3.jpg");
        background-size: cover;
    }
    
    .buttons {
        text-decoration: none;
        color: #fff;
        font-weight: bold;
        padding: 12px 20px;
        font-size: 18px;
        border-radius: 10px;
        background-color: #643e88;
        box-shadow: 0 5px 5px #313131, 0 9px 0 #393939, 0px 9px 10px rgba(0, 0, 0, 0.4), inset 0px 2px 9px rgba(255, 255, 255, 0.2), inset 0 -2px 9px rgba(0, 0, 0, 0.2);
        border-bottom: 1px solid rgba(255, 255, 255, 0.2);
        font-family: Andale Mono, AndaleMono, monospace;
        text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.2);
    }
    
    .bloqueBtn {
        display: flex;
        width: 100%;
        align-items: center;
        justify-content: center;
    }
    
    h1 {
        font-family: 'Quantico', sans-serif;
        /* font-family: font-family: 'Audiowide', cursive; */
        font-size: 90px;
        color: #643e88;
        margin-top: 1em;
    }
    
    h2 {
        font-family: font-family: 'Quantico', sans-serif;
        font-size: 100px;
        color: #231F20;
        margin-top: 1.5em;
    }
    
    #thanks {
        font-family: Andale Mono, AndaleMono, monospace;
        font-size: 100px;
        color: #231F20;
        margin-top: 1.5em;
    }
    
    img {
        display: block;
        margin: auto;
    }
    
    .p1 {
        font-family: 'Handlee', cursive;
        font-size: 25px;
        font-weight: unset;
        color: rgb(105, 9, 117);