body {
    background-color: #006A4D;
    /*background-image: url("../src/img/background-pastos.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    */
    font-family: Arial, Helvetica, sans-serif;
}
/*Primera pantalla */

.portada{
  width: 450px;
  margin-top: 20px;
  
}

.contenedor{
  text-align: center;
}

h1{
  font-family: Arial, Helvetica, sans-serif;
  color: rgb(255, 255, 255);
  text-align: center;
}

h2{
  font-family: Arial, Helvetica, sans-serif;
  color: rgb(255, 255, 255);
  text-align: center;
}

p{
  font-family: Arial, Helvetica, sans-serif;
  color: rgb(255, 255, 255);
  text-align: center;
}

.button1 {
    background-color: rgb(127, 172, 4);
    border: none;
    color: white;
    padding: 16px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    transition-duration: 0.4s;
    cursor: pointer;
    border-radius: 50px;
  
  }
  
  .button1:hover {
    background-color: rgb(255, 163, 24);
    color: rgba(255, 255, 255, 0.247);
  }

  /*Segunda pantalla */

  .logo-cabecera {
    margin-left: 3em;
  }
 /*Para centrar los divs*/
  div {
    padding: 1em;
  }
  .barra-superior {
    width: 1000px;
    border-color: rgb(248, 248, 248);
    padding: 40px;
    margin-top: 20px;
    margin: 0 auto;
  }
  
  div {
    padding: 1em;
  }

  .mercado {
    width: 1000px;
    height: 400px;
    background-color: rgba(255, 255, 255, 0.308);
    padding: 40px;
    margin-top: 20px;
    margin: 0 auto;
    border-radius: 20px;
  }

  div {
    padding: 1em;
  }

  .img-chinampas {
    width: 750px;    
    padding: 40px;
    margin-top: 20px;
    margin: 0 auto;
    }
  
    /* Alinear objetos dentro de la barra superior 
  .left {
  float: left;
  width: 500px;
  }

  .right { 
    float: right;
    width: 500px;
*/

/* Tercer pantalla*/

  h2 {
    text-align: left;
    font-size: 20px;

  }

  .img-productos {
    width: auto;
    padding: 10px;
    margin-top: 20px;
    display: inline-block;
  }

  .copia-pega {
    text-align: left;
    font-size: 15px;
  }

  .productos{
    width: 100px;
    transition:all .3s;
  }

  .productos.active{
    width: 150px;
  }

  .segunda-instruccion {
    width: 500px;
    margin-top: 20px;
    display: inline-block;
    padding-left: 40px;
  }
  
