body {
    background-image: url(../src/cerdito1.jpeg);
    text-align: center;
}
p{
    text-align: center;
}
 h1 { text-align: center; }
 h2 { text-align: center;}
 #name { background-color:#D17595; border-bottom:#F5E9F7; border-radius:20px; width: 100px; height: 100; align-content: center;}
#form {
    text-align: center;
}
#apellido {background-color: #D17595; border-bottom: #F5E9F7; border-radius: 20px;}

